/* CSS Document */
<style>body{ background-repeat:no-repeat;}
h1{text-align: center; font-size:1.8cm}
table{text-align:center; text-shadow:inherit; border:double; color:#CCCCCC}
th{text-decoration:underline; background-image: url(DSC_0207.JPG); font-size:larger;}
#a{ text-align: left; font-size:21px; font-style:oblique;}
#b{text-align:center; text-decoration:underline;}
form{color:#CCCCCC}
th:hover{background-color:#CCCCCC}
#1{font-color:"white"}
Marquee{ font-size:1cm; }
</style>

